.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}
